<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="viewProjectLeftSidebar">
		<ul class="nav flex-column">
		  <li class="nav-item">
		    <a class="nav-link" aria-controls="prop" aria-selected="true" th:href="@{/project/view/{id}(id=${project.projectId})}">General Properties</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" aria-controls="import" aria-selected="true" th:href="@{/project/{id}/import(id=${project.projectId})}">Import Documents</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" aria-controls="preprocess" aria-selected="true" th:href="@{/project/{projectId}/annotators(projectId=${project.projectId})}">Assign Annotators</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" aria-controls="preprocess" aria-selected="true" th:href="@{/project/{projectId}/preprocess(projectId=${project.projectId})}">Preprocess Documents</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" aria-controls="annotate" aria-selected="true" th:href="@{/project/{projectId}/annotate(projectId=${project.projectId})}">Annotate Documents</a>
		  </li>	
		  <li class="nav-item">
		    <a class="nav-link" aria-controls="interAnnotatorAgreement" aria-selected="true" th:href="@{/project/{projectId}/interAnnotatorAgreement(projectId=${project.projectId})}">Inter Annotator Agreement</a>
		  </li>	
		</ul>
	</div>
	<div th:fragment="viewSettingsLeftSidebar">
		<ul class="nav flex-column">
		  <li class="nav-item">
		    <a class="nav-link" aria-controls="prop" aria-selected="true" th:href="@{/systemSettings}">System Settings</a>
		  </li>	
		  <li class="nav-item">
		    <a class="nav-link" aria-controls="prop" aria-selected="true" th:href="@{/legalActs}">Legal Acts</a>
		  </li>	
		  <li class="nav-item">
		    <a class="nav-link" aria-controls="prop" aria-selected="true" th:href="@{/users}">User Management</a>
		  </li>	
		</ul>
	</div>
</body>
</html>