<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CV Results</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<h4 class="lh-sm">
					<label>Cross Validation Results</label>
				</h4>
				<table class="table table-striped table-responsive-md">
					<tbody>
						<thead>
							<tr>
								<td th:text="'Iteration Number'"/>
								<td th:text="'No of Samples'"/>
								<td class="text-end" th:text="'Mean LOOCV - All Model'"/>
								<td class="text-end" th:text="'Mean 10-Fold CV - All Model'"/>
								<td class="text-end" th:text="'Model Results'"/>
							</tr>
						</thead>
						<tr th:each="cvResult: *{cvResultList}">
							<td th:text="${cvResult.iterationNumber}"/>
							<td th:text="${cvResult.noOfSamples}"/>
							<td class="text-end" th:text="${#numbers.formatDecimal(cvResult.meanLOOCVAllModels , 1, 2)}"/>
							<td class="text-end" th:text="${#numbers.formatDecimal(cvResult.mean10FoldCVAllModels , 1, 2)}"/>
							<td>
								<table class="table table-striped table-responsive-md">
								<tbody>
									<thead>
										<tr>
											<td th:text="'Model Name'"/>
											<td th:text="'Mean LOOCV'"/>
											<td class="text-end" th:text="'Mean 10-Fold CV'"/>
										</tr>
									</thead>
									<tr th:each="mlModelResult: *{cvResult.mlModelResultList}">
										<td th:text="${mlModelResult.modelName}"/>
										<td th:text="${#numbers.formatDecimal(mlModelResult.meanLOOCV , 1, 2)}"/>
										<td th:text="${#numbers.formatDecimal(mlModelResult.mean10FoldCV , 1, 2)}"/>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>

				<div th:if="${message != null}">
					<label for="name" class="text-success"
						th:text="${message.successMessage}"></label> <label for="name"
						class="text-danger" th:text="${message.errorMessage}"></label>
				</div>
			</div>
		</div>
	</div>
</body>
</html>