<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Legal Acts</title>
<link rel="stylesheet"	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script	th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container-fluid">	
		<div class="row">
			<h2 class="lh-lg"><label>Settings</label></h2>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div th:replace="fragments/leftSidebar :: viewSettingsLeftSidebar"></div>
			</div>
			<div class="col-md-8">
				<h4 class="lh-sm">
					<label>Legal Acts</label>
				</h4>
				<form action="#" th:action="@{/legalActs/add}" th:object="${legalAct}" method="post" >
					<table class="table table-striped table-responsive-md">
						<tbody>							
							<tr>
								<td><label for="actName" class="col-form-label">Act Name: </label></td>
								<td><input type="text" th:field="*{actName}" class="form-control" id="actName" placeholder="Type Act Name here">
									<span th:if="${#fields.hasErrors('actName')}" th:errors="*{actName}" class="text-danger"></span>
								</td>
							</tr>
							
							<tr>
								<td><label for="actShortNameList" class="col-form-label">Act Short Name List: </label></td>
								<td><input type="text" th:field="*{actShortNameList}" class="form-control" id="actShortNameList" placeholder="Type act short name list here. separated by comma">
									<span th:if="${#fields.hasErrors('actShortNameList')}" th:errors="*{actShortNameList}" class="text-danger"></span>
								</td>
							</tr>
							
							<tr>
								<td><label for="actYear" class="col-form-label">Act Year: </label></td>
								<td><input type="text" th:field="*{actYear}" class="form-control" id="actYear" placeholder="Type Act Year here">
									<span th:if="${#fields.hasErrors('actYear')}" th:errors="*{actYear}" class="text-danger"></span>
								</td>
							</tr>
							
							<tr>
								<td><label for="minSectionNumber" class="col-form-label">Min Section Number: </label></td>
								<td><input type="text" th:field="*{minSectionNumber}" class="form-control" id="minSectionNumber" placeholder="Type smallest section number here">
									<span th:if="${#fields.hasErrors('minSectionNumber')}" th:errors="*{minSectionNumber}" class="text-danger"></span>
								</td>
							</tr>
							
							<tr>
								<td><label for="maxSectionNumber" class="col-form-label">Max Section Number: </label></td>
								<td><input type="text" th:field="*{maxSectionNumber}" class="form-control" id="maxSectionNumber" placeholder="Type largest section number here">
									<span th:if="${#fields.hasErrors('maxSectionNumber')}" th:errors="*{maxSectionNumber}" class="text-danger"></span>
								</td>
							</tr>
							
							<tr>									
								<td colspan="2"><input type="submit" class="btn btn-primary" value="Add Act"></td>									
							</tr>
							<tr>									
								<td colspan="2">
									<div th:if="${message != null}">
										<label for="name" class="text-success"	th:text="${message.successMessage}"></label>	
										<label for="name" class="text-danger" th:text="${message.errorMessage}"></label>
									</div>								
								</td>
							</tr>
						</tbody>
					</table>
				</form>
				
				<table class="table table-striped table-responsive-md">
					<tbody>
						<tr>
							<th>Act ID</th>
							<th>Act Name</th>
							<th>Act Short Name</th>
							<th>Act Year</th>
							<th>Min Section Number</th>
							<th>Max Section Number</th>							
						</tr>
						<tr th:each="la: ${legalActList}">
							<td th:text="${la.actId}" />
							<td th:text="${la.actName}"/>
							<td th:text="${la.actShortNameList}"/>
							<td th:text="${la.actYear}" />							
							<td th:text="${la.minSectionNumber}"/>
							<td th:text="${la.maxSectionNumber}"/>							
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-2">
			
			</div>
		</div>
	</div>
</body>
</html>