<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ML Test</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container-fluid">		
		<div class="row">
			<div class="col-md-2">
				<div th:replace="fragments/leftSidebar :: viewProjectLeftSidebar"></div>
			</div>
			<div class="col-md-8">
				<h4 class="lh-sm">
					<label>Machine Learning Service Test</label>
				</h4>
				
				<table class="table table-striped table-responsive-md">
					<tbody>
						<tr th:each="argBy: ${mlOutputDto.argumentBy}">
							<td th:text="${argBy}" />
						</tr>
					</tbody>
				</table>					
				
			</div>
		</div>
	</div>
</body>
</html>