<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Preprocess Documents</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">

	function updateTextOrder() {
		var txtArea = document.getElementById("textOrderTextArea");
		var y = document.getElementById('textOrderHidden');
		y.value = txtArea.value;
	}
	function completePreProcess() {
		var txtArea = document.getElementById("textOrderTextArea");
		var y = document.getElementById('textOrderHidden1');
		y.value = txtArea.value;
	}
	function insertHeaderEnd() {
		var txtArea = document.getElementById("textOrderTextArea");
		var startPosition, txtAreaBeforeStartPosition,txtAreaAfterStartPosition,txtAreaUpdated;		
		if (txtArea.selectionStart != undefined) {
			startPosition = txtArea.selectionStart;
			txtAreaBeforeStartPosition = txtArea.value.substring(0, startPosition);
			txtAreaAfterStartPosition = txtArea.value.substring(startPosition, txtArea.value.length);
			txtAreaUpdated = txtAreaBeforeStartPosition + "---header-ends---" + txtAreaAfterStartPosition;
		}
		var y = document.getElementById('textOrderHidden2');
		y.value = txtAreaUpdated;
	}
	function insertBackgroundEnd() {
		var txtArea = document.getElementById("textOrderTextArea");
		var startPosition, txtAreaBeforeStartPosition,txtAreaAfterStartPosition,txtAreaUpdated;		
		if (txtArea.selectionStart != undefined) {
			startPosition = txtArea.selectionStart;
			txtAreaBeforeStartPosition = txtArea.value.substring(0, startPosition);
			txtAreaAfterStartPosition = txtArea.value.substring(startPosition, txtArea.value.length);
			txtAreaUpdated = txtAreaBeforeStartPosition + "---background-ends---" + txtAreaAfterStartPosition;
		}
		var y = document.getElementById('textOrderHidden3');
		y.value = txtAreaUpdated;
	}
	function insertArgumentEnd() {
		var txtArea = document.getElementById("textOrderTextArea");
		var startPosition, txtAreaBeforeStartPosition,txtAreaAfterStartPosition,txtAreaUpdated;		
		if (txtArea.selectionStart != undefined) {
			startPosition = txtArea.selectionStart;
			txtAreaBeforeStartPosition = txtArea.value.substring(0, startPosition);
			txtAreaAfterStartPosition = txtArea.value.substring(startPosition, txtArea.value.length);
			txtAreaUpdated = txtAreaBeforeStartPosition + "---argument-ends---" + txtAreaAfterStartPosition;
		}
		var y = document.getElementById('textOrderHidden4');
		y.value = txtAreaUpdated;
	}
	function insertOrderEnd() {
		var txtArea = document.getElementById("textOrderTextArea");
		var startPosition, txtAreaBeforeStartPosition,txtAreaAfterStartPosition,txtAreaUpdated;		
		if (txtArea.selectionStart != undefined) {
			startPosition = txtArea.selectionStart;
			txtAreaBeforeStartPosition = txtArea.value.substring(0, startPosition);
			txtAreaAfterStartPosition = txtArea.value.substring(startPosition, txtArea.value.length);
			txtAreaUpdated = txtAreaBeforeStartPosition + "---order-ends---" + txtAreaAfterStartPosition;
		}
		var y = document.getElementById('textOrderHidden5');
		y.value = txtAreaUpdated;
	}
	
</script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<h3 class="lh-lg">
					Preprocess Documents					
				</h3>
			</div>
			<div class="col-md-6">
				<nav aria-label="Page navigation example">
				  <ul class="pagination justify-content-start pagination-lg">
				    <li class="page-item">
				    	<a class="page-link" 
				    		th:href="@{/project/{projectId}/preprocess/{docId}/prev(projectId=${legalDocument.project_doc.projectId},docId=${legalDocument.documentId})}">
				    		Previous
				    	</a>
				    </li>
				    <li class="page-item active" aria-current="page">
				    	<a class="page-link" 
				    		th:href="@{/project/{projectId}/preprocess/{docId}(projectId=${legalDocument.project_doc.projectId},docId=${legalDocument.documentId})}">
				    		<label th:text="' Current Document : '+${legalDocument.documentId}"></label>
				    	</a>
				    </li>    
				    <li class="page-item">
				    	<a class="page-link" 
				    		th:href="@{/project/{projectId}/preprocess/{docId}/next(projectId=${legalDocument.project_doc.projectId},docId=${legalDocument.documentId})}">
				    		Next
				    	</a>
				   	</li>
				  </ul>
				</nav>
			</div>	
			<div class="col-md-2">
				<a th:href="@{/project/view/{id}(id=${legalDocument.project_doc.projectId})}">
					<h6><label th:text="'Back to : '+${legalDocument.project_doc.projectName}"></label></h6>
				</a>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-10">
				<div th:if="${legalDocument.annotationProcessingStage == T(in.edu.rvce.slanno.enums.AnnotationProcessingStage).STAGE0}">	
					<textarea rows="20" cols="170" id="textOrderTextArea"
						th:text="${message.textOrder}" th:field="${message.textOrder}"></textarea>
				</div>
				<div th:if="${legalDocument.annotationProcessingStage == T(in.edu.rvce.slanno.enums.AnnotationProcessingStage).STAGE1}">	
					<textarea rows="20" cols="170" id="textOrderTextArea"
						th:text="${message.textOrder}" th:field="${message.textOrder}"></textarea>
				</div>
			</div>
			<div class="col-md-2">
				<div th:if="${legalDocument.annotationProcessingStage == T(in.edu.rvce.slanno.enums.AnnotationProcessingStage).STAGE0}">
					<form action="#"
						th:action="@{/project/{projectId}/preprocess/{docId}(projectId=${legalDocument.project_doc.projectId},docId=${legalDocument.documentId})}"
						th:object="${legalDocument}" method="post">
						<input type="hidden" th:name="textOrderHidden" class="form-control"	id="textOrderHidden" placeholder="textOrderHidden"/> 
						<input type="submit" value="Update Document" onclick="updateTextOrder()"/>		
					</form>
					<br>
					<form action="#"
						th:action="@{/project/{projectId}/preprocess/{docId}/insertHeaderEnd(projectId=${legalDocument.project_doc.projectId},docId=${legalDocument.documentId})}"
						th:object="${legalDocument}" method="post">
						<input type="hidden" th:name="textOrderHidden2" class="form-control" id="textOrderHidden2" placeholder="textOrderHidden2"/> 
						<input type="submit" value="Insert Header End" onclick="insertHeaderEnd()"/>		
					</form>
					<br>
					<form action="#"
						th:action="@{/project/{projectId}/preprocess/{docId}/insertBackgroundEnd(projectId=${legalDocument.project_doc.projectId},docId=${legalDocument.documentId})}"
						th:object="${legalDocument}" method="post">
						<input type="hidden" th:name="textOrderHidden3" class="form-control" id="textOrderHidden3" placeholder="textOrderHidden3"/> 
						<input type="submit" value="Insert Background End" onclick="insertBackgroundEnd()"/>		
					</form>
					<br>
					<form action="#"
						th:action="@{/project/{projectId}/preprocess/{docId}/insertArgumentEnd(projectId=${legalDocument.project_doc.projectId},docId=${legalDocument.documentId})}"
						th:object="${legalDocument}" method="post">
						<input type="hidden" th:name="textOrderHidden4" class="form-control" id="textOrderHidden4" placeholder="textOrderHidden4"/> 
						<input type="submit" value="Insert Argument End" onclick="insertArgumentEnd()"/>		
					</form>
					<br>
					<form action="#"
						th:action="@{/project/{projectId}/preprocess/{docId}/insertOrderEnd(projectId=${legalDocument.project_doc.projectId},docId=${legalDocument.documentId})}"
						th:object="${legalDocument}" method="post">
						<input type="hidden" th:name="textOrderHidden5" class="form-control" id="textOrderHidden5" placeholder="textOrderHidden5"/> 
						<input type="submit" value="Insert Order End" onclick="insertOrderEnd()"/>		
					</form>
					<br>
					<form action="#"
						th:action="@{/project/{projectId}/preprocess/{docId}/complete(projectId=${legalDocument.project_doc.projectId},docId=${legalDocument.documentId})}"
						th:object="${legalDocument}" method="post">
						<input type="hidden" th:name="textOrderHidden1" class="form-control" id="textOrderHidden1" placeholder="textOrderHidden1"/>									
							<input type="submit" value="Mark Complete" onclick="completePreProcess()"/>					
					</form>
				</div>
				<div th:if="${legalDocument.annotationProcessingStage == T(in.edu.rvce.slanno.enums.AnnotationProcessingStage).STAGE1}">	
					<label class="text-success" th:text="'Preprocessing Already marked complete'"></label>
				</div>
				<div th:if="${message != null}">
					<label for="name" class="text-success"	th:text="${message.successMessage}"></label>	
					<label for="name" class="text-danger" th:text="${message.errorMessage}"></label>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>